<fieldset>
	<legend class="legend">Create New Interest/Category</legend>
		<%= render 'form', :interest => @interest  %>
	</fieldset>
<div class="action-links">
	<ul>
		<li><%= link_to 'Return to listing', interests_path %></li>
	</ul>
</div>