/* General */
div.dataTables_length,
div.dataTables_filter,
div.dataTables_paginate,
div.dataTables_info {
  padding: 6px;
}

table.datatables {
	border: 1px solid #ccc;
  border-spacing: 0;
}

/* Cells */
table.datatables td {
  padding: 1px 5px;
  border: 1px solid #ccc;
}

/* Header cells */
table.datatables thead {
  background: #9ba1ca;
}

/* Self clearing - */
div.dataTables_wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

/* includes header, filter, and footer */
div.dataTables_wrapper {
    background-color: #ccc;
    border-radius: 3px;
}

div.dataTables_filter, div.dataTables_info {
    padding: 6px 6px 4px 6px;
}
div.dataTables_length {
    padding: 6px 6px 2px 6px;
}

.date_range_filter, .text_filter, .select_filter {
    width: 100%;
    font-size: 12px !important;
}
.filter_date_range {
  font-weight:normal;
}
table.display {
 margin: 0 auto;
  width: 100%;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed;       
  word-wrap:break-word;      
} 